*
!/bin
!/build
!/build.sh
!/deploy
!/etc
!/lib
!/log
!/share
!/tmp
!/www
!/LICENSE
!/README.md
!/project.sh
!/.project.rc
!.project.build.exclude
!.project.path.lib
!.project.path.lib.[0-9]*
!.project.path.bin
!.project.path.bin.[0-9]*
!.project.path.man
!.project.path.man.[0-9]*
!.gitignore
