*
!/bin
!/build
!/build.sh
!/deploy
!/etc
!/lib
!/log
!/pc
!/www
!/Python-current
!/LICENSE
!/README.md
!/.bashrc.pycharm
!/.project.rc
!/.pycharm_helpers
!/.python.rc
!.project.build.exclude
!.project.path.lib
!.project.path.lib.[0-9]*
!.project.path.bin
!.project.path.bin.[0-9]*
!.gitignore
